<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>


<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Messages</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<body>
<a  class="myredclass" href="/add"> Add a Thought!!</a><br/>
<!--<table align="center">
    <tr>
        <th>Post By</th><br/>
        <th>Thoughts</th><br/>
        <th>Post Date</th><br/>
        &lt;!&ndash;<td>Actions</td>&ndash;&gt;
    </tr>
    <tr th:each="message : ${message}">
        <td th:text="${message.writer}"></td>
        <td th:text="${message.content}"></td>
        <td th:text="${message.postDate}"></td>
        <td>
        </td>-->

<div th:each="message : ${message}">
    <blockquote>
            <p th:inline="text"><h2>[[${message.content}]]</h2></p>
        <footer><h5>Post By <span th:inline="text">[[${message.writer}]]</span></h5>
                Date <span th:inline="text">[[${message.postDate}]]</span></footer>
    </blockquote>
</div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>