<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Write your thoughts</title>
</head>
<body>
<form align="center" action="#" th:action="@{/process}"
      th:object="${message}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    Write Your name so <br/>
    people can know you! <br/>
    <input type="text" th:field="*{writer}"/>
    <div th:if="${#fields.hasErrors('writer')}"
          th:errors="*{writer}"></div><br/>
    <br/>
    Share your thoughts <br/>
    <textarea rows="10" th:field="*{content}"/>
    <div th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></div><br/>
    <br/>
    Post Date <br/>
    <input type="date" th:field="*{postDate}"/>
    <div th:if="${#fields.hasErrors('postDate')}"
          th:errors="*{postDate}"></div><br/>
    <br/><br/>
    <input type="submit" value="SHARE IT"/>
</form>
</body>
</html>